<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/CSS/promociones.css">
    <link rel="icon" href="/src/VIEWS/IMG/logos/Favicon_64x64.png" type="image/png">
    <title>FitHub - CO | Promociones</title>
</head>
<body>
      <header>
    <a href="/index.html"><img class="imageicon"  src="/src/VIEWS/IMG/logos/LogoFinal.png" alt="Logo Img"  /></a>

    <nav class="nav-main">
      <ul class="nav-links">
        <li><a href="/src/VIEWS/sedes.html" class="Pet1">Sedes</a></li>
        <li><a href="/src/VIEWS/promociones.html" class="Pet1">Promociones</a></li>
        <li><a href="/src/VIEWS/quiens.html" class="Pet1">Quienes somos</a></li>
        <li><button class="btn-inscribete" onclick="location.href='/src/VIEWS/registra.html'">¡Inscríbete!</button></li>
        <li>
          <div class="menu-container">
            <input type="checkbox" id="menu-toggle" />
            <!-- Fondo oscuro -->
            <label class="menu-overlay" for="menu-toggle"></label>
            <label class="menu-icon" for="menu-toggle">
              <span class="bar1"></span>
              <span class="bar2"></span>
              <span class="bar3"></span>
            </label>
            <nav class="menu">
              <label class="close-button" for="menu-toggle">X</label>
              <img src="/src/VIEWS/IMG/logos/LogoFinal.png" alt="">

              <div class="ImgUser">
                <img src="/src/VIEWS/IMG/logos/Usuario.png" alt="User">
                <a id="User" href="/src/VIEWS/login.html">usuarios</a>
                <a id="number" href="/src/VIEWS/login.html">  <span style="color: #868686;">1.152.224.905</span></a>
              </div>

              <a href="/src/VIEWS/sedes.html">Sedes</a>
              <a href="/src/VIEWS/promociones.html">Promociones</a>
              <a href="/src/VIEWS/quiens.html">Quienes Somos</a>
              <a href="/src/VIEWS/entrenadores.html">Entrenadores</a>
              <button onclick="location.href='/src/VIEWS/registra.html'" >¡Inscríbete!</button>
            </nav>
          </div>
        </li>
      </ul>
    </nav>
  </header>
<section class="po">
<h1>!NO LO PIENSES MÁS!</h1>
</section>

<section>
    <p>Elige una de nuestras Promos xxxxxxx vigentes, inscríbete ya y vive la mejor experiencia
fitness de Latinoamérica; tenemos beneficios especiales y descuentos que se
acomodan a tus posibilidades. Conoce todas nuestras super
promociones y los beneficios que tenemos para ti:</p>
</section>
 <main>
    <div>
        <h2>Promociones</h2>
        <div class="bo" >

            <div class="caja 2">
              <img  class="img-responsive" src="/src/VIEWS/IMG/IMAGEN2 GYM.jpg" alt="">
                <h3>Strong Season</h3>
                <p>25 Jun 2025 - 01 Jul 2025</p>
                <p>Entrena ahora  paga en julio. Aplica en planes y sedes seleccionadas.</p>
                <button onclick="location.href='/src/VIEWS/registra.html'">¡Inscríbete!</button>
            </div>
            <div class="caja">
              <img class="img-responsive" src="/src/VIEWS/IMG/imaGEN7 GYM.jpg" alt="">
                <h3>Fit Friend (2025)</h3>
                <p>29 May 2025 - 25 Dic 2025</p>
                <p>Entrena ahora  paga en agosto. Aplica en planes y sedes seleccionadas.</p>
                <button onclick="location.href='/src/VIEWS/registra.html'">¡Inscríbete!</button>
            </div>
            <div class="caja">
              <img class="img-responsive" src="/src/VIEWS/IMG/mujer-sosteniendo-pesas-cerca-de-pesas.jpg" alt="">
                <h3>Full Power</h3>
                <p>Sep 2025 – 31 Ene 2026</p>
                <p>Entrena ahora  paga octubre. Aplica en planes y sedes seleccionadas.</p>
                <button onclick="location.href='/src/VIEWS/registra.html'">¡Inscríbete!</button>
            </div>
            <div class="caja">
              <img class="img-responsive" src="/src/VIEWS/IMG/brazo-de-entrenamiento-culturista-con-banda-de-resistencia.jpg" alt="">
                <h3>Summer Pass (2025)</h3>
                <p>01 Jun 2025 – 31 Ago 2025</p>
                <p>Entrena ahora  paga en agosto. Aplica en planes y sedes seleccionadas.</p>
                <button onclick="location.href='/src/VIEWS/registra.html'">¡Inscríbete!</button>
            </div>
             <div class="caja">
              <img class="img-responsive" src="https://i.pinimg.com/736x/ab/d8/3c/abd83c0c608b674bf410b955612f6de6.jpg" alt="">
                <h3>Winter Pass (2025)</h3>
                <p>01 Dic 2025 – 28 Feb 2026</p>
                <p>Entrena ahora paga en enero. Aplica en planes y sedes seleccionadas.</p>
                <button onclick="location.href='/src/VIEWS/registra.html'">¡Inscríbete!</button>
            </div>


        </div>
    </div>
 </main>



  <footer>
    <img class="logo-principal"src="/src/VIEWS/IMG/logos/LogoFinalInvertido.png" alt="">
    <hr class="linea">
    <p>Siguenos</p>

    <nav class="social-icons">
    <a href="https://www.facebook.com/SmartFitOficialColombia/" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-Facebook.png" alt="Facebook" style="width:30px; height:30px;"></a>
    <a href="https://www.instagram.com/smartfit/" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-Instagram.png" alt="Instagram" style="width:30px; height:30px;"></a>
    <a href="https://www.smartfit.com.co/" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-X.png" alt="X" style="width:30px; height:30px;"></a>
    <a href="https://www.youtube.com/smartfit" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-Youtube.png" alt="yOUTUBE" style="width:30px; height:30px;"></a>
    <a href="https://www.tiktok.com/@smartfit" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-TikTok.png" alt="Tiktok" style="width:30px; height:30px;"></a>
    </nav>
    
    <hr class="linea">

    <!-- Aquí agregamos los links típicos de footer -->
    <nav class="footer-links" aria-label="Enlaces de navegación del pie de página">
        <a href="/src/VIEWS/quiens.html">Quiénes somos</a>
        <a href="/src/VIEWS/promociones.html">Promociones</a>
        <a href="#">Planes</a>
        <a href="#">Contacto</a>
        <a href="#">Preguntas frecuentes</a>
        <a href="/src/VIEWS/terminos.html">Términos y condiciones</a>
        <a href="#">Contáctenos (PQRS)</a>
        <a href="#">Acceso a Proveedores</a>
        <a href="#">Políticas corporativas</a>
        <a href="#">Línea ética</a>
    </nav>
    
    </footer>

    <script src="/src/JS/index.js"></script>

</body>
</html>