<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitHub - CO - Quienes Somos</title>
  <link rel="stylesheet" href="/src/CSS/quiens.css">
  <link rel="icon" href="/src/VIEWS/IMG/logos/Favicon_64x64.png" type="image/png">
</head>

<body>
  <header>
    <a href="/index.html"><img class="imageicon"  src="/src/VIEWS/IMG/logos/LogoFinal.png" alt="Logo Img"  /></a>

    <nav class="nav-main">
      <ul class="nav-links">
        <li><a href="/src/VIEWS/sedes.html" class="Pet1">Sedes</a></li>
        <li><a href="/src/VIEWS/promociones.html" class="Pet1">Promociones</a></li>
        <li><a href="/src/VIEWS/quiens.html" class="Pet1">Quienes somos</a></li>
        <li><button class="btn-inscribete" onclick="location.href='/src/VIEWS/registra.html'">¡Inscríbete!</button></li>
        <li>
          <aside class="menu-container">
            <input type="checkbox" id="menu-toggle" />
            <!-- Fondo oscuro -->
            <label class="menu-overlay" for="menu-toggle"></label>
            <label class="menu-icon" for="menu-toggle">
              <span class="bar1"></span>
              <span class="bar2"></span>
              <span class="bar3"></span>
            </label>
            <nav class="menu">
              <label class="close-button" for="menu-toggle">X</label>
              <img src="/src/VIEWS/IMG/logos/LogoFinal.png" alt="">

              <div class="ImgUser">
                <img src="/src/VIEWS/IMG/logos/Usuario.png" alt="User">
                <a id="User" href="/src/VIEWS/login.html">usuarios</a>
                <a id="number" href="/src/VIEWS/login.html">  <span style="color: #868686;">1.152.224.905</span></a>
              </div>

              <a href="/FitHub/src/VIEWS/sedes.html">Sedes</a>
              <a href="/FitHub/src/VIEWS/promociones.html">Promociones</a>
              <a href="/FitHub/src/VIEWS/quiens.html">Quienes Somos</a>
              <a href="/src/VIEWS/entrenadores.html">Entrenadores</a>
              <button onclick="location.href='/src/VIEWS/registra.html'" >¡Inscríbete!</button>
            </nav>
          </aside>
        </li>
      </ul>
    </nav>
  </header>
<!-- ///////////////////////////////////////////////////Content///////////////////////////////////////////////////
 -->
<main>
  <img class="imgqs" src="/src/VIEWS/IMG/IMAGEN3 GYM.jpg" alt="">
</main>

  <section class="description">
    <article class="card">
      <img class="logosqs check" src="/src/VIEWS/IMG/logos/verificado.png" alt="">
      <h2 class="title_card">Facilidades</h2>
      <p>Pensando en tu comodidad, contamos con diferentes servicios en linea como inscripción rápida, agendamiento de citas, transferencia de sedes y cambio de plan. Además del acompañamiento de nuestros profesores de planta, tendrás acceso a nuestra App para que entrenes de forma autónoma con tu entrenador virtual</p>
    </article>
    <article class="card">
      <img class="logosqs map" src="/src/VIEWS/IMG/logos/mapa.png" alt="">
      <h2 class="title_card">Presencia</h2>
      <p>Entrena cuando quieras y donde quieras. Queremos que siempre exista un xxxxxxxxxxx cerca de ti, por eso contamos actualmente con más de 20 Centros de Acondicionamiento y Preparación Física - CAPF - en Colombia y más de 150 en todo Latinoamérica, en países como Brasil, Chile, México, República Dominicana, Panamá, Perú y Ecuador.</p>
    </article>
    <article class="card">
      <img class="logosqs" src="/src/VIEWS/IMG/logos/estiramiento.png" alt="">
      <h2 class="title_card">Accesibilidad</h2>
      <p>Nuestra misión es entregar fitness de alta calidad, haciéndolo accesible para todos. Es por eso que todos nuestros Centros de Acondicionamiento y Preparación Física - CAPF cuentan con la tecnología e instalaciones aecuadas para satisfacer las necesidades de nuestros usuarios.</p>
    </article>
  </section>

 <!-- ///////////////////////////////////////////////////Content///////////////////////////////////////////////////
 -->
  <footer>
    <img class="logo-principal"src="/src/VIEWS/IMG/logos/LogoFinalInvertido.png" alt="">
    <hr class="linea">
    <p>Siguenos</p>

    <nav class="social-icons">
    <a href="https://www.facebook.com/SmartFitOficialColombia/" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-Facebook.png" alt="Facebook" style="width:30px; height:30px;"></a>
    <a href="https://www.instagram.com/smartfit/" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-Instagram.png" alt="Instagram" style="width:30px; height:30px;"></a>
    <a href="https://www.smartfit.com.co/" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-X.png" alt="X" style="width:30px; height:30px;"></a>
    <a href="https://www.youtube.com/smartfit" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-Youtube.png" alt="yOUTUBE" style="width:30px; height:30px;"></a>
    <a href="https://www.tiktok.com/@smartfit" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-TikTok.png" alt="Tiktok" style="width:30px; height:30px;"></a>
    </nav>
    
    <hr class="linea">

    <!-- Aquí agregamos los links típicos de footer -->
    <nav class="footer-links" aria-label="Enlaces de navegación del pie de página">
        <a href="/src/VIEWS/quiens.html">Quiénes somos</a>
        <a href="/src/VIEWS/promociones.html">Promociones</a>
        <a href="#">Planes</a>
        <a href="#">Contacto</a>
        <a href="#">Preguntas frecuentes</a>
        <a href="/src/VIEWS/terminos.html">Términos y condiciones</a>
        <a href="#">Contáctenos (PQRS)</a>
        <a href="#">Acceso a Proveedores</a>
        <a href="#">Políticas corporativas</a>
        <a href="#">Línea ética</a>
    </nav>

</footer>




  <script src="/src/JS/index.js"></script>



</body>

</html>