<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitHub - CO - Registrarse</title>
  <link rel="stylesheet" href="/src/CSS/registra.css">
  <link rel="icon" href="/src/VIEWS/IMG/logos/Favicon_64x64.png" type="image/png">
</head>

<body>
  <header>
    <a href="/index.html"><img class="imageicon"  src="/src/VIEWS/IMG/logos/LogoFinal.png" alt="Logo Img"  /></a>

    <nav class="nav-main">
      <ul class="nav-links">
        <li><a href="/src/VIEWS/sedes.html" class="Pet1">Sedes</a></li>
        <li><a href="/src/VIEWS/promociones.html" class="Pet1">Promociones</a></li>
        <li><a href="/src/VIEWS/quiens.html" class="Pet1">Quienes somos</a></li>
        <li><button class="btn-inscribete" onclick="location.href='/src/VIEWS/registra.html'">¡Inscríbete!</button></li>
        <li>
          <aside class="menu-container">
            <input type="checkbox" id="menu-toggle" />
            <!-- Fondo oscuro -->
            <label class="menu-overlay" for="menu-toggle"></label>
            <label class="menu-icon" for="menu-toggle">
              <span class="bar1"></span>
              <span class="bar2"></span>
              <span class="bar3"></span>
            </label>
            <nav class="menu">
              <label class="close-button" for="menu-toggle">X</label>
              <img src="/src/VIEWS/IMG/logos/LogoFinal.png" alt="">

              <div class="ImgUser">
                <img src="/src/VIEWS/IMG/logos/Usuario.png" alt="User">
                <a id="User" href="/src/VIEWS/login.html">usuarios</a>
                <a id="number" href="/src/VIEWS/login.html">  <span style="color: #868686;">1.152.224.905</span></a>
              </div>

              <a href="/src/VIEWS/sedes.html">Sedes</a>
              <a href="/src/VIEWS/promociones.html">Promociones</a>
              <a href="/src/VIEWS/quiens.html">Quienes Somos</a>
              <a href="/src/VIEWS/entrenadores.html">Entrenadores</a>
              <button onclick="location.href='/src/VIEWS/registra.html'" >¡Inscríbete!</button>
            </nav>
          </aside>
        </li>
      </ul>
    </nav>
  </header>
<!-- ///////////////////////////////////////////////////Content///////////////////////////////////////////////////-->


<form>
    <h2>CREAR CUENTA</h2>
    <input type="text" placeholder="NOMBRE" required>
    <input type="text" placeholder="APELLIDO" required>
    <input type="date" placeholder="FECHA DE NACIMIENTO" required>

    <div style="display: flex; gap: 5px;">
        <select required>
            <option value="">TIPO</option>
            <option value="CC">Cédula</option>
            <option value="TI">Tarjeta de Identidad</option>
            <option value="PP">Pasaporte</option>
        </select>
        <input type="text" placeholder="N° DOCUMENTO" required>
    </div>

    <input type="tel" placeholder="TELÉFONO MÓVIL" required>

    <select required>
        <option value="">CIUDAD</option>
        <option>Bogotá</option>
        <option>Medellín</option>
        <option>Cali</option>
    </select>

    <input type="text" placeholder="DIRECCIÓN" required>
    <input type="email" placeholder="CORREO ELECTRÓNICO" required>
    <input type="password" placeholder="CONTRASEÑA" required>

    <div class="terms">
        <label for=""><input type="checkbox" required><p>Al seleccionar esta casilla acepto los <a href="/src/VIEWS/terminos.html">términos y condiciones</a> y <a href="#">políticas de tratamiento de datos</a></p>.</label>
    </div>

    <button type="submit" class="pr">¡Inscríbete ya!</button>
</form>

















<!-- ///////////////////////////////////////////////////Content/////////////////////////////////////////////////// -->
  <footer>
    <img class="logo-principal"src="/src/VIEWS/IMG/logos/LogoFinalInvertido.png" alt="">
    <hr class="linea">
    <p>Siguenos</p>

    <nav class="social-icons">
    <a href="https://www.facebook.com/SmartFitOficialColombia/" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-Facebook.png" alt="Facebook" style="width:30px; height:30px;"></a>
    <a href="https://www.instagram.com/smartfit/" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-Instagram.png" alt="Instagram" style="width:30px; height:30px;"></a>
    <a href="https://www.smartfit.com.co/" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-X.png" alt="X" style="width:30px; height:30px;"></a>
    <a href="https://www.youtube.com/smartfit" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-Youtube.png" alt="yOUTUBE" style="width:30px; height:30px;"></a>
    <a href="https://www.tiktok.com/@smartfit" target="_blank"><img class="icons"src="/src/VIEWS/IMG/logos/Logo-TikTok.png" alt="Tiktok" style="width:30px; height:30px;"></a>
    </nav>
    
    <hr class="linea">

    <!-- Aquí agregamos los links típicos de footer -->
    <nav class="footer-links" aria-label="Enlaces de navegación del pie de página">
        <a href="/src/VIEWS/quiens.html">Quiénes somos</a>
        <a href="/src/VIEWS/promociones.html">Promociones</a>
        <a href="#">Planes</a>
        <a href="#">Contacto</a>
        <a href="#">Preguntas frecuentes</a>
        <a href="/src/VIEWS/terminos.html">Términos y condiciones</a>
        <a href="#">Contáctenos (PQRS)</a>
        <a href="#">Acceso a Proveedores</a>
        <a href="#">Políticas corporativas</a>
        <a href="#">Línea ética</a>
    </nav>

</footer>




  <script src="/src/JS/index.js"></script>



</body>

</html>